@font-face {
    font-family: bodyFont;
    src: url('../fonts/Accanthis2_Regular.otf');
}

@font-face {
    font-family: headerFont;
    src: url('../fonts/Accanthis2_Regular.otf');
}

body {
	color: #C2C2C2;
}
h2 { 
	font-size: 30px; 
	margin: 25px 0; 
	line-height: 0.5em;
    font-family: 'bodyFont', cursive;
}
#visitorh2 {
    width: 100%;
    font-family: 'headerFont', cursive;
    font-size: 180%;
}
h3 {
    font-size: 20px;
    margin: 20px 0;
    line-height: 0.5em;
    font-family: 'headerFont', cursive;
}
p, li {
    font-size: 120%;
    font-family: 'bodyFont', cursive;
}
.centered {
    text-align: center;
    padding-top: 40px;
}
a, 
a:hover,
a:active,
a:visited {
	color: #38A8D3;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

h2 a, 
h2 a:hover,
h2 a:active,
h2 a:visited {
	color: #93d338;
	text-decoration: none;
}
.scrollingHeader {
	background: url('../images/skyBGdark.gif') repeat-x;
	height: 1500px;
}
.treeHeader { 
	background-image: url('../images/long-grass1.png');
	background-repeat: repeat-x;
	background-position: bottom;
	position: fixed;
	height: 281px;
	width: 100%;
	top: 0px;
}
.trees {
	width: 1024px;
	margin: 0 auto;
}
.leaves {
    height: 0px;
    width: 1024px;
    margin: 0 auto;

}
#treeLeft {
	position: relative;
	float: left;
    left: -35px;
}
#treeRight {
	position: relative;
	float: right;
    right: -55px;
}
#treeFrontLeft {
	position: relative;
	float: left;
    left: -35px;
}
#treeFrontRight {
	position: relative;
	float: right;
	right: -55px;
}
img#treeFrontLeftLeaves {
    position: relative;
    top: -280px;
    float: left;
    left: -35px;
}
img#treeFrontRightLeaves {
    position: relative;
    top: -280px;
    right: -55px;
    float: right;
}

.stars {
	position: fixed;
	opacity: 0;
	height: 251px;
	width: 100%;
	top: 0px;
	overflow: hidden;
	background-image: url('../images/star-field.png');
	background-repeat: repeat-x;
}
.nav li a {
    background-image: url('../images/door-closed.png');
    height: 107px;
    background-size: contain;
    display: block;
    width: 61px;
    font-size: 80%;
}
.nav li a:hover {
    background-image: url('../images/door-open.png');
}
.dirt {
	/*background: #412e1d;*/
	background: #5F442B;
	position: fixed;
	width: 100%;
	top: 281px;
	height: 100vh;
    border-top: 2px solid #351d01;
}
.roots {
	position: relative;
	width: 1024px;
	height: 1024px;
	margin: 0 auto;
}
#rootLeft {
	position: relative;
	float: left;
	width: 562px;
	margin-left: -10%;
}
#rootRight {
	position: relative;
	float: right;
	width: 562px;
	margin-right: -12%;
}
.pageContent {
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
    height: 100vh;
}
#countdown {
    width: 230px;
    margin: 0 auto;
}
.footnote {
    position: relative;
    top: 30vh;
    font-size: 75%;
}
.story { 
	height: 1000px; 
	padding: 0; 
	margin: 0; 
	width: 100%; 
	max-width: 1920px; 
	position: relative; 
	margin: 0 auto; 
	border-top: 1px solid rgba(255,255,255,0.3); 
	border-bottom: 1px solid rgba(0,0,0,0.4); 
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

/* Google Map Styles */
#map_canvas{
	width: 500px;
	height: 400px;
    float: right;
    padding-left: 10px;
    padding-bottom: 10px;
}
#floatright {
    padding-right: 10px;
}
.map-content {
	min-width: 50px;
	min-height: 50px;
}
.firstHeading,
.bodyContent {
	color: black;
}

/* 
	Home Page Roots Timeline 
*/
.treeHeaderHome {
	background-image: url('../images/long-grass1.png');
	background-repeat: repeat-x;
	background-position: bottom;
	height: 281px;
	width: 100%;
	top: 0px;
}
.dirtHome {
	background: #5F442B;
	width: 100%;
	top: 281px;
    border-top: 2px solid #351d01;
}
.signsHome,
.signs {
    margin: 0 auto;
    width: 1024px;
	position: relative;
	top: -100px;
	height: 0px;
}
.scrollingHeaderHome {
	background: url('../images/skyBGdark.gif') repeat-x;
}
#home {
	background-image: url('../images/rootsTimeline2.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: 1024px;
}

#example-two {
	margin: 0 auto;
	position: relative;
	width: 1132px;
}

.timeline li {
	list-style: none;
	position: absolute;
    color: #351d01;
}

#time-erin {float: left;}
#time-andy {float: right;}
#time-both {
    margin: 0 auto;
    width: 20%;
}
li#both-married {top: 90px;}

li#erin-dating {top: 200px;}
li#erin-meet {top: 290px; left: 160px;}
li#erin-unh {top: 380px; left: 100px;}
li#erin-grad {top: 508px;left: 126px;}
li#erin-home {top: 584px; left: 5px;}
li#erin-birth {top: 830px; left: 95px;}

li#andy-unh {top: 200px;}
li#andy-meet {top: 290px; right: 160px;}
li#andy-europe {top: 380px; right: 30px;}
li#andy-grad {top: 508px;right: 0px;}
li#andy-home {top: 590px; right: 5px;}
li#andy-birth {top: 830px; left: 845px;}

.modal {background: #5F442B}

/* Parallax CSS */
#first { background: #412e1d 50% 0; }
#second { background: url(../images/slide2.jpg) 50% 0 no-repeat fixed; }
#fourth { background: url(../images/slide3.jpg) 50% 0 no-repeat fixed; }
#third { background: url(../images/slide4.jpg) 50% 0 no-repeat fixed; }
#theend { background: url(../images/puckered.png) 50% bottom no-repeat fixed; }

/* Introduction */
#first .smashinglogo { background: url(../images/smashing-logo.png) 50% 100px no-repeat fixed; min-height: 1000px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; }
#first article { width: 100%; top: 300px; position: absolute; text-align: center; }
#first article p,
#first article a { color: #ccc; }
#first article a { text-decoration: underline; }
#first article a:hover { color: #fff; }

/*
	 Organic Tabs
	 by Chris Coyier
	 http://css-tricks.com
*/


/* Generic Utility */
.hide { 
	position: absolute; 
	top: -9999px; 
	left: -9999px; 
}

/* Specific to example one */

#example-one {
	padding: 10px; 
	margin: 0 auto;
	position: relative;
	top: -990px;
	/*width: 1024px;*/
	height: 350px;
	overflow-y: auto;
	overflow-x: hidden;
}



.nav { overflow: hidden; margin: 0 0 10px 0; list-style: none; position: relative; top: -25px; left: 270px}
.nav li { width: 97px; float: left; margin: 0 10px 0 0; }
.nav li.last { margin-right: 0; }
.nav li a { display: block; padding: 5px; border: 0; }


.tab-content {
	float: left;
	padding-right: 20px;
}

.nav span {
    display: block;
    width: 60px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 85%;
    background-color: whitesmoke;
    border-bottom: 1px solid lightblue;
    position: relative;
    top: -3px;
}

#registry a {
    width: 30%;
    display: block;
    float: left;
    color: white;
}

#registry {
    text-align: center;
    height: 300px;
    padding-top: 50px;
}

#visitors {
    height: 400px;
}

#bags {
    width: 1024px;
    height: 270px;
    margin-left: 90px;
    padding-top: 15px;
}